<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2 text-info">修改密码</h1>
</div>

<div class="container-fluid row page">
    <div class="col-12">
        <form class="form-signin" [formGroup]="myForm">
            <div class="text-center mb-4">
                <img class="mb-4" src="assets/img/group.svg" alt="" width="72" height="72">
                <h6 class="h6 mb-3 font-weight-normal">请修改账户密码</h6>
            </div>

            <div class="form-label-group">
                <label for=" inputUsername">Username</label>
                <input type="text" id="userName" [formControl]="userName" class="form-control" placeholder="Username">
            </div>
            <div class="form-label-group">
                <label for=" inputPassword">Password</label>
                <input type="password" id="password" [formControl]="password" class="form-control"
                    placeholder="Password" [ngClass]="{'is-invalid': password.invalid,'is-valid':password.valid}">
                <div class="valid-feedback">
                    密码格式正确！
                </div>
                <div class="invalid-feedback">
                    密码必须大于5位！
                </div>
            </div>
            <br>
            <button class="btn btn-lg btn-outline-dark btn-block " type="submit" (click)='alter()'
                id="btnAlter">确认修改</button>
            <p class="mt-5 mb-3 text-muted text-center">© 2021-2022</p>
        </form>
    </div>
</div>